/* styles */
* {
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 470px;
    margin: auto;
    border-radius: 25px;
    background-color: rgb(203, 203, 203);
}

#screen {
    height: 15%;
    margin: 40px 40px 25px 40px;
    padding: 15px;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 30px;
    background-color: rgb(108, 108, 108);
    overflow: scroll;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 90%;
    padding: 0px 30px 35px 30px;
}

button {
    font-size: 30px;
    flex: 0 0 23%;
    height: 50px;
    border-radius: 35px;
}

.back, .clear {
    flex: 0 0 47%;
}